<footer class="bg-success fixed-bottom footer-bgr">
        <div class="d-none d-md-block"><br></div>
    <p class="text-center" style="font-size: 17px;">&copy; Taloyhtiö Papinlähteen Matruusi 2018</p>
    <br>
    <p class="kalam-font" style="font-size: 25px;">Mancave IT Systems</p>
</footer>
<!-- Bootstrap dependencies -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://theel0ja.github.io/bsmenu-4/bsmenu.js"></script>

<!-- ShepCMS dependencies -->
<script async src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
